@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d91b42;
  --secondary: #45c496;
  --tertiary: #4587c4;

  --primary-a: #d91b413d;
  --secondary-a: #45c4963d;
  --tertiary-a: #4587c43d;

  --background-light: #f7f7f7;
  --text-light: #000000;
  --background-dark: #131313;
  --text-dark: #ffffff;

  --scrollbar-bg-light: #e0e0e0;
  --scrollbar-thumb-light: #b0b0b0;
  --scrollbar-bg-dark: #555555;
  --scrollbar-thumb-dark: #888888;

  --background-color: var(--background-light);
  --text-color: var(--text-light);
}

[data-theme="light"] {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
  --scrollbar-bg-color: var(--scrollbar-bg-light);
  --scrollbar-thumb-color: var(--scrollbar-thumb-light);
}

[data-theme="dark"] {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
  --scrollbar-bg-color: var(--scrollbar-bg-dark);
  --scrollbar-thumb-color: var(--scrollbar-thumb-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  list-style-type: none;
}

*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-hind);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  line-height: 100%;
  font-weight: 500;
}

p {
  font-family: var(--font-inter);
}

button,
span {
  font-family: var(--font-hind);
}

h1,
h2 {
  letter-spacing: -4%;
}

h3,
h4,
h5,
h6 {
  letter-spacing: -2%;
}

.display {
  font-size: 4rem;
}

h1 {
  font-size: 2.756rem;
}

h2 {
  font-size: 2.413rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

caption {
  font-family: var(--font-inter);
}

.custom-scroll-bar {
  --scroll-bar-color: #8ba3e9;
  --scroll-bar-color-sub: var(--background);
  --scroll-bar-shadow: 0 0 2px 2px black;
  --scroll-bar-width: 10px;
  --scroll-bar-width-min: 8px;
  --scroll-thumb-width: 8px;
  --scroll-thumb-width-min: 6px;
  --scroll-bar-padding: 5px;
  --scroll-bar-margin: 5px;
  --scroll-bar-radius: 4px;
  --sb-track-color: var(--background);
  --sb-thumb-color: #8ba3e9;
  --sb-size: 4px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  padding-bottom: 10px;
}

.custom-scroll-bar.thin {
  scrollbar-width: 0;
}

.custom-scroll-bar.thin::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.custom-scroll-bar.main::-webkit-scrollbar {
  background-color: var(--m-white);
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0;
  border-radius: var(--sb-size);
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.custom-scroll-bar.main::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
}

button:hover {
  opacity: 0.7;
}

.preloader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.otp .otpbox {
  gap: 0.55rem !important;
  text-align: center !important;
  justify-content: center !important;
  margin: auto !important;
}

.otp input {
  width: 4.125rem !important;
  height: 4.125rem !important;
  border-radius: 0.9rem !important;
  border: 0.1rem solid #b2b2b2;
  color: #000 !important;
  background-color: #f5f5f5 !important;
  user-select: none !important;
}

.otp input:focus {
  outline: none !important;
  border: 0.15rem solid #f85009 !important;
  user-select: none !important;
}

.pin .otpbox {
  gap: 0.55rem !important;
  text-align: center !important;
  justify-content: center !important;
  margin: auto !important;
}

.pin input {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 0.9rem !important;
  border: 0.1rem solid #b2b2b2;
  color: #fff !important;
  background-color: transparent !important;
  user-select: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.roundeltr {
  border-top-right-radius: 0.75px;
  border-bottom-right-radius: 0.75px;
}

.roundertl {
  border-top-left-radius: 0.75px;
  border-bottom-left-radius: 0.75px;
}

html,
body {
  position: relative;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Scrollbar styles */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg-color);
}

body {
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
  scrollbar-width: thin;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 3em;
}

[data-theme="light"] input,
[data-theme="light"] button,
[data-theme="light"] select,
[data-theme="light"] textarea {
  background-color: var(--background-light);
  color: var(--text-light);
}

[data-theme="dark"] input,
[data-theme="dark"] button,
[data-theme="dark"] select,
[data-theme="dark"] textarea {
  background-color: #0000005d;
  color: #fff;
}

button {
  cursor: pointer;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.icon {
  width: 24px;
  height: 24px;
}

/* // color wahala */

html.dark header,
html.dark footer {
  background-color: transparent !important;
}

html.dark .poll {
  background-color: #0b0a0a !important;
  color: #fff !important;
}

html.dark .poll h3.title {
  color: #fff !important;
}

html.dark .answer {
  background-color: #1a1919 !important;
  color: #fff !important;
}

html.dark .features {
  background-color: #1d1b1b !important;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-sceondary {
  background-color: var(--sceondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-background {
  background-color: var(--background-color);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-color {
  color: var(--text-color);
}

.w-280 {
  width: 280px;
}

.icon-x {
  font-size: 40px;
}

.w-400 {
  width: 400px;
}

.w-600 {
  width: 600px;
}

@media (max-width: 720px) {
  .w-400 {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .w-600 {
    width: 100%;
  }
}
